Repository opensearch-project/ml-commons-dashboards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es --fix, prettier --write

Onboard jenkins build docker image to ml-commons-dashboards
  .github/workflows/unit-tests-workflow.yml
Due: none

Onboard jenkins build docker image to ml-commons-dashboards github ci checks 2.x
  .github/workflows/unit-tests-workflow.yml
Due: none

Onboard jenkins build docker image to ml-commons-dashboards (#280)
  .github/workflows/unit-tests-workflow.yml
Due: none

Onboard jenkins build docker image to ml-commons-dashboards github ci checks 2.x (#281)
  .github/workflows/unit-tests-workflow.yml
Due: none

Increment version to 2.12.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Increment version to 2.11.1.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Increment version to 2.10.1.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

feat: update register modal
  public/components/common/forms/model_file_format.tsx
  public/components/common/forms/model_tag_array_field/tag_field.tsx
  public/components/monitoring/index.tsx
  public/components/monitoring/model_connector_filter.tsx
  public/components/register_model/model_source.tsx
  public/components/register_model/pretrainedmodel_select.tsx
  public/components/register_model/register_model.tsx
  public/components/register_model/register_model.types.ts
  public/components/register_model/utils.ts
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

feat: update base review
  public/components/common/forms/model_file_format.tsx
  public/components/monitoring/index.tsx
  public/components/monitoring/model_connector_filter.tsx
  public/components/register_model/model_deployment.tsx
  public/components/register_model/model_source.tsx
  public/components/register_model/pretrained_model_select.tsx
  public/components/register_model/register_model.tsx
  public/components/register_model/register_model.types.ts
Due: yarn run lint:es --fix, prettier --write

Address PR comments
  public/components/register_model/model_deployment.tsx
  public/components/register_model/model_source.tsx
  public/components/register_model/pretrained_model_select.tsx
  public/components/register_model/register_model.tsx
Due: yarn run lint:es --fix, prettier --write

Fix failed tests
  public/components/register_model/register_model.tsx
  public/components/register_model_type_modal/__tests__/index.test.tsx
Due: yarn run lint:es --fix, prettier --write

feat: support register external model
  public/apis/model_version.ts
  public/components/register_model/__tests__/setup.tsx
  public/components/register_model/model_deployment.tsx
  public/components/register_model/model_details.tsx
  public/components/register_model/model_source.tsx
  public/components/register_model/register_model.tsx
  public/components/register_model/register_model.types.ts
  public/components/register_model/register_model_api.ts
  server/routes/model_version_router.ts
  server/services/model_version_service.ts
Due: yarn run lint:es --fix, prettier --write

test: add unit tests for model connector
  public/components/register_model/__tests__/register_model_source.test.tsx
  public/components/register_model/__tests__/setup.tsx
  public/components/register_model/model_source.tsx
Due: yarn run lint:es --fix, prettier --write

test: add unit tests for model automatic deployment
  public/components/register_model/__tests__/register_model_deployment.test.tsx
  public/components/register_model/model_deployment.tsx
Due: yarn run lint:es --fix, prettier --write

refactor model selector with combobox
  public/components/register_model/__tests__/register_model_repository_import.test.tsx
  public/components/register_model/pretrained_model_select.tsx
Due: yarn run lint:es --fix, prettier --write

test: add miss tests for register model type modal
  public/components/register_model_type_modal/__tests__/index.test.tsx
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

feat: hide register model route
  common/router.ts
Due: yarn run lint:es --fix, prettier --write

feat: add Machine Learning group
  public/components/__tests__/nav_panel.test.tsx
  public/components/app.tsx
  public/components/nav_panel.tsx
Due: yarn run lint:es --fix, prettier --write

docs: add release notes for 2.12
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.12.0.0.md
Due: prettier --write

docs: add release notes for 2.12 (#299)
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.12.0.0.md
Due: prettier --write

Add new workflow to verify binary install
  .github/workflows/verify-binary-installation.yml
Due: none

Fix zip name
  .github/workflows/verify-binary-installation.yml
Due: none

Increment version to 2.13.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Add new workflow to verify binary install (#306)
  .github/workflows/verify-binary-installation.yml
Due: none

doc: add release notes for 2.13
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.13.0.0.md
Due: prettier --write

doc: add Maintenance part
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.13.0.0.md
Due: prettier --write

doc: add release notes for 2.13 (#309)
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.13.0.0.md
Due: prettier --write

Increment version to 2.14.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

add multi data source support
  opensearch_dashboards.json
  public/apis/connector.ts
  public/apis/model.ts
  public/apis/profile.ts
  public/application.tsx
  public/components/__tests__/data_source_top_nav_menu.test.tsx
  public/components/app.tsx
  public/components/data_source_top_nav_menu.tsx
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/__tests__/model_connector_filter.test.tsx
  public/components/monitoring/__tests__/model_deployment_table.test.tsx
  public/components/monitoring/__tests__/model_source_filter.test.tsx
  public/components/monitoring/__tests__/search_bar.test.tsx
  public/components/monitoring/__tests__/use_monitoring.test.tsx
  public/components/monitoring/index.tsx
  public/components/monitoring/model_connector_filter.tsx
  public/components/monitoring/use_monitoring.ts
  public/components/preview_panel/__tests__/preview_panel.test.tsx
  public/components/preview_panel/index.tsx
  public/contexts/data_source_context.tsx
  public/contexts/index.ts
  public/hooks/tests/use_fetcher.test.ts
  public/hooks/use_fetcher.ts
  public/plugin.ts
  public/types.ts
  public/utils/__tests__/data_source.test.ts
  public/utils/data_source.ts
  server/routes/connector_router.ts
  server/routes/model_router.ts
  server/routes/profile_router.ts
  server/routes/utils.ts
  server/services/connector_service.ts
  server/services/model_service.ts
  server/services/profile_service.ts
  test/test_utils.tsx
Due: yarn run lint:es --fix, prettier --write

add unit tests for server side
  server/__tests__/plugin.test.ts
  server/routes/__tests__/connector_router.test.ts
  server/routes/__tests__/model_router.test.ts
  server/routes/__tests__/profile_router.test.ts
  server/routes/__tests__/utils.test.ts
  server/routes/router.mock.ts
  server/services/__mocks__/connector_service.ts
  server/services/__mocks__/model_service.ts
  server/services/__mocks__/profile_service.ts
  server/services/__tests__/connector_service.test.ts
  server/services/__tests__/model_service.test.ts
  server/services/__tests__/profile_service.test.ts
  server/services/utils/__tests__/model.test.ts
  server/services/utils/__tests__/query.test.ts
  test/jest.config.js
Due: yarn run lint:es --fix, prettier --write

Use dataSource to check if data source enabled
  public/components/__tests__/data_source_top_nav_menu.test.tsx
  public/components/app.tsx
  public/components/data_source_top_nav_menu.tsx
Due: yarn run lint:es --fix, prettier --write

Add comments for DO_NOT_FETCH
  public/hooks/use_fetcher.ts
Due: yarn run lint:es --fix, prettier --write

Add back model id column
  public/components/monitoring/__tests__/model_deployment_table.test.tsx
  public/components/monitoring/model_deployment_table.tsx
Due: yarn run lint:es --fix, prettier --write

Path conditions:
  yarn run lint:es --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
