Repository opensearch-project/ml-commons-dashboards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es --fix, prettier --write

fix: remove wrap with div and update code structure
  public/components/register_model/register_model.tsx
Due: yarn run lint:es --fix, prettier --write

Fix Node.js and Yarn installation in CI
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Due: none

Fix Node.js and Yarn installation in CI (#119)
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Due: none

ci: update GitHub workflows OSD version to main
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Due: none

feat: add upload callout (#113)
  public/components/model_list/__tests__/upload_callout.test.tsx
  public/components/model_list/index.tsx
  public/components/model_list/upload_callout.tsx
Due: yarn run lint:es --fix, prettier --write

chore: use package resolutions to resolve rxjs
  package.json
  yarn.lock
Due: prettier --write

fix: update-register-form-hearder-descriptions (#114)
  public/components/register_model/register_model.tsx
Due: yarn run lint:es --fix, prettier --write

ci: update GitHub workflows OSD version to main (#121)
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Due: none

test: update test per pr comment
  public/components/register_model/__tests__/model_file_uploader_manager.test.ts
Due: yarn run lint:es --fix, prettier --write

Revert "chore: use package resolutions to resolve rxjs"
  package.json
  yarn.lock
Due: prettier --write

test: assert function call order of ModelFileUploadManager
  public/components/register_model/__tests__/model_file_uploader_manager.test.ts
Due: yarn run lint:es --fix, prettier --write

feat: upload file after register form submitted (#117)
  package.json
  public/components/register_model/__tests__/model_file_uploader_manager.test.ts
  public/components/register_model/__tests__/register_model.hooks.test.ts
  public/components/register_model/__tests__/register_model_artifact.test.tsx
  public/components/register_model/__tests__/register_model_form.test.tsx
  public/components/register_model/constants.ts
  public/components/register_model/model_file_upload_manager.ts
  public/components/register_model/register_model.hooks.ts
  public/components/register_model/register_model.tsx
  yarn.lock
Due: yarn run lint:es --fix, prettier --write

feat: increase model file size limit to 4GB
  common/constant.ts
  public/components/register_model/__tests__/register_model_artifact.test.tsx
  public/components/register_model/artifact.tsx
  public/components/register_model/artifact_file.tsx
Due: yarn run lint:es --fix, prettier --write

feat: add model file extension validation to only allow ZIP file
  public/components/register_model/__tests__/register_model_artifact.test.tsx
  public/components/register_model/artifact_file.tsx
Due: yarn run lint:es --fix, prettier --write

fix: limit the file input to only accept ZIP file
  public/components/register_model/artifact_file.tsx
Due: yarn run lint:es --fix, prettier --write

docs: change Features to Experimental Features
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.6.0.0.md
Due: prettier --write

docs: change Features to Experimental Features (#123)
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.6.0.0.md
Due: prettier --write

feat: update artifact file validation rules (#118)
  common/constant.ts
  public/components/register_model/__tests__/register_model_artifact.test.tsx
  public/components/register_model/artifact.tsx
  public/components/register_model/artifact_file.tsx
Due: yarn run lint:es --fix, prettier --write

feat: display notification when upload model by URL
  public/components/model_list/model_task_manager.ts
  public/components/register_model/__tests__/register_model.hooks.test.ts
  public/components/register_model/__tests__/register_model_artifact.test.tsx
  public/components/register_model/__tests__/register_model_details.test.tsx
  public/components/register_model/__tests__/register_model_form.test.tsx
  public/components/register_model/__tests__/register_model_metrics.test.tsx
  public/components/register_model/__tests__/register_model_tags.test.tsx
  public/components/register_model/register_model.hooks.ts
  public/components/register_model/register_model.tsx
  public/components/register_model/register_model_api.ts
Due: yarn run lint:es --fix, prettier --write

refactor: polling model upload task status
  public/components/register_model/__tests__/model_task_manager.test.ts
  public/components/register_model/model_task_manager.ts
  public/components/register_model/register_model.tsx
Due: yarn run lint:es --fix, prettier --write

test: tweaks test
  public/components/register_model/__tests__/model_task_manager.test.ts
Due: yarn run lint:es --fix, prettier --write

fix: incorrect handling of model tasks
  public/components/register_model/__tests__/register_model_artifact.test.tsx
  public/components/register_model/model_task_manager.ts
Due: yarn run lint:es --fix, prettier --write

feat: display notification when upload model by URL (#126)
  public/components/register_model/__tests__/model_task_manager.test.ts
  public/components/register_model/__tests__/register_model.hooks.test.ts
  public/components/register_model/__tests__/register_model_artifact.test.tsx
  public/components/register_model/__tests__/register_model_details.test.tsx
  public/components/register_model/__tests__/register_model_form.test.tsx
  public/components/register_model/__tests__/register_model_metrics.test.tsx
  public/components/register_model/__tests__/register_model_tags.test.tsx
  public/components/register_model/model_task_manager.ts
  public/components/register_model/register_model.hooks.ts
  public/components/register_model/register_model.tsx
  public/components/register_model/register_model_api.ts
Due: yarn run lint:es --fix, prettier --write

fix: update-register-form-hearder-descriptions
  public/components/register_model/register_model.tsx
Due: yarn run lint:es --fix, prettier --write

feat: validate model name after input blurred
  public/components/register_model/__tests__/register_model_details.test.tsx
  public/components/register_model/__tests__/register_model_form.test.tsx
  public/components/register_model/__tests__/setup.tsx
  public/components/register_model/model_details.tsx
Due: yarn run lint:es --fix, prettier --write

fix: tags rename to model tags
  public/components/register_model/model_tags.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update File & version title
  public/components/register_model/register_model.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update File & version title
  public/components/register_model/artifact.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update configuration description
  public/components/register_model/model_configuration.tsx
Due: yarn run lint:es --fix, prettier --write

fix: fix lint-error
  public/components/register_model/register_model.tsx
Due: yarn run lint:es --fix, prettier --write

refactor: remove model API mock and unified search API mock
  public/components/register_model/__tests__/register_model_form.test.tsx
  public/components/register_model/__tests__/setup.tsx
Due: yarn run lint:es --fix, prettier --write

fix: using font-size displayed in figma
  public/components/register_model/artifact.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update configuration unit-test
  public/components/register_model/__tests__/register_model_configuration.test.tsx
Due: yarn run lint:es --fix, prettier --write

fix: remove eui-textInheritColor
  public/components/register_model/model_configuration.tsx
Due: yarn run lint:es --fix, prettier --write

ci: update workflow OSD version to 2.x
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Due: none

ci: update workflow OSD version to 2.x (#132)
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
Due: none

fix: remove self-defined css
  public/components/register_model/artifact.tsx
Due: yarn run lint:es --fix, prettier --write

Path conditions:
  yarn run lint:es --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
