Repository opensearch-project/ml-commons-dashboards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es --fix, prettier --write

feat: add model_register_button to model_list
  public/components/model_list/index.tsx
  public/components/model_list/regsister_new_model_button.tsx
  public/components/register_model_type_modal/__tests__/index.test.tsx
  public/components/register_model_type_modal/index.tsx
  test/test_utils.tsx
Due: yarn run lint:es --fix, prettier --write

fix: fix some code standards
  public/components/model_list/regsister_new_model_button.tsx
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: fix code with the review comment
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: resolve modal scroll bar
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update searchfiled with Euisearchable and update Euitext
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update to only one EuiModalBody
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update EuiCombobox to Euisearchable
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: fix conflict and update unit-test
  public/components/register_model_type_modal/__tests__/index.test.tsx
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: resolve conflict and update unit test
  common/registry_modal_option.ts
  public/components/model_list/index.tsx
  public/components/model_list/register_model_types.ts
  public/components/model_list/regsister_new_model_button.tsx
  public/components/monitoring/model_status_filter.tsx
  public/components/register_model_type_modal/__tests__/index.test.tsx
  public/components/register_model_type_modal/index.tsx
  public/components/status_filter/__tests__/status_filter.test.tsx
  public/components/status_filter/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: restore an incorrect change
  public/components/status_filter/__tests__/status_filter.test.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update unit test error
  public/components/register_model_type_modal/__tests__/index.test.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update to newest UI
  public/components/register_model_type_modal/__tests__/index.test.tsx
Due: yarn run lint:es --fix, prettier --write

fix: add description and update code with review comment
  public/components/model_list/index.tsx
  public/components/model_list/register_model_types.ts
  public/components/model_list/regsister_new_model_button.tsx
  public/components/register_model_type_modal/__tests__/index.test.tsx
  public/components/register_model_type_modal/index.tsx
Due: yarn run lint:es --fix, prettier --write

fix: fix test_utils lint error
  test/test_utils.tsx
Due: yarn run lint:es --fix, prettier --write

feat: add upload callout
  public/components/model_list/__tests__/upload_callout.test.tsx
  public/components/model_list/index.tsx
  public/components/model_list/upload_callout.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update code with newest code standards and update register form header descriptions
  public/components/register_model_type_modal/__tests__/index.test.tsx
  public/components/register_model_type_modal/index.tsx
  public/components/status_filter/index.tsx
  test/test_utils.tsx
Due: yarn run lint:es --fix, prettier --write

fix: update unit_test of register_model_type_modal
  public/components/register_model_type_modal/__tests__/index.test.tsx
Due: yarn run lint:es --fix, prettier --write

chore: add release notes to .prettierignore
  .prettierignore
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.6.0.0.md
Due: prettier --write

chore: address review comments
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.6.0.0.md
Due: prettier --write

doc: add release notes for 2.6.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.6.0.0.md
Due: prettier --write

doc: add release notes for 2.6.0 (#96)
  .prettierignore
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.6.0.0.md
Due: prettier --write

chore: update releated version to 3.0.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

chore: update releated version to 3.0.0.0 (#104)
  opensearch_dashboards.json
  package.json
Due: prettier --write

ci: add missed workflows
  .github/draft-release-notes-config.yml
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/draft-release-notes-workflow.yml
Due: none

ci: remove draft release notes workflow
  .github/draft-release-notes-config.yml
  .github/workflows/draft-release-notes-workflow.yml
Due: none

ci: add backport workflows (#105)
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
Due: none

ci: add CODEOWNERS
  .github/CODEOWNERS.txt
Due: none

ci: add CODEOWNERS (#106)
  .github/CODEOWNERS.txt
Due: none

fix: remove test/test_utils.tsx change
  test/test_utils.tsx
Due: yarn run lint:es --fix, prettier --write

feat: add enabled flag to plugin config
  common/config.ts
  public/index.ts
  public/plugin.ts
  server/index.ts
  server/plugin.ts
Due: yarn run lint:es --fix, prettier --write

Revert "feat: add enabled flag to plugin config"
  common/config.ts
  public/index.ts
  public/plugin.ts
  server/index.ts
  server/plugin.ts
Due: yarn run lint:es --fix, prettier --write

feat: disable plugin by default
  server/index.ts
Due: yarn run lint:es --fix, prettier --write

feat: add enabled flag to plugin config (#108)
  server/index.ts
Due: yarn run lint:es --fix, prettier --write

ci: remove txt suffix CODEOWNERS file
  .github/CODEOWNERS
Due: none

ci: remove txt suffix CODEOWNERS file (#109)
  .github/CODEOWNERS
Due: none

Path conditions:
  yarn run lint:es --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
