Repository opensearch-project/ml-commons-dashboards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["yarn run lint:es --fix", "prettier --write"],
  "*.{json,css,md}": "prettier --write"
}

Update MAINTAINERS.md to reflect emeritus status (#493)
  MAINTAINERS.md
Due: prettier --write

Increment version to 3.8.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Pin GitHub Actions to commit SHAs (#487)
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
Due: none

Update opensearch-build workflow references from commit SHA to main
  .github/workflows/unit-tests-workflow.yml
Due: none

Update GitHub actions to use official opensearch-project actions
  .github/workflows/verify-binary-installation.yml
Due: none

Fix CVE-2026-33671, CVE-2026-33672, CVE-2026-33532
  package.json
  yarn.lock
Due: prettier --write

Increment version to 2.19.6.0 (#490)
  opensearch_dashboards.json
  package.json
Due: prettier --write

Update GitHub actions to use official opensearch-project actions (#496)
  .github/workflows/verify-binary-installation.yml
Due: none

Fix CVE-2026-33671, CVE-2026-33672, CVE-2026-33532 in 2.19
  yarn.lock
Due: none

Backport #487, #495, #496 to 2.19
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
Due: none

Backport #487, #495, #496 to 2.19 (#498)
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
Due: none

Fix CVE-2026-33671, CVE-2026-33672, CVE-2026-33532 in 2.19 (#499)
  yarn.lock
Due: none

Increment version to 3.8.0.0 (#491)
  opensearch_dashboards.json
  package.json
Due: prettier --write

Onboard new backport-pr re-usable github workflow (ml-commons-dashboards)
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
Due: none

Add release notes for 2.19.6
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.19.6.0.md
Due: prettier --write

Add release notes for 2.19.6 (#502)
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.19.6.0.md
Due: prettier --write

Update opensearch-build workflow references from commit SHA to main (#495)
  .github/workflows/unit-tests-workflow.yml
Due: none

Adopt ESLint 10 / flat config
  .eslintignore
  .github/workflows/lint-workflow.yml
  common/model.ts
  common/status.ts
  eslint.config.js
  public/components/common/options_filter/options_filter_item.tsx
  public/components/common/refresh_interval.tsx
  public/components/data_source_top_nav_menu.tsx
  public/components/monitoring/model_connector_filter.tsx
  public/components/status_filter/index.tsx
  public/hooks/tests/use_fetcher.test.ts
  public/plugin.ts
  server/routes/__tests__/connector_router.test.ts
  server/routes/__tests__/model_router.test.ts
  server/routes/__tests__/profile_router.test.ts
  server/routes/router.mock.ts
Due: yarn run lint:es --fix, prettier --write

Adopt ESLint 10 / flat config (#505)
  .eslintignore
  .github/workflows/lint-workflow.yml
  common/model.ts
  common/status.ts
  eslint.config.js
  public/components/common/options_filter/options_filter_item.tsx
  public/components/common/refresh_interval.tsx
  public/components/data_source_top_nav_menu.tsx
  public/components/monitoring/model_connector_filter.tsx
  public/components/status_filter/index.tsx
  public/hooks/tests/use_fetcher.test.ts
  public/plugin.ts
  server/routes/__tests__/connector_router.test.ts
  server/routes/__tests__/model_router.test.ts
  server/routes/__tests__/profile_router.test.ts
  server/routes/router.mock.ts
Due: yarn run lint:es --fix, prettier --write

Onboard new backport-pr re-usable github workflow (ml-commons-dashboards) (#501)
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
Due: none

test: migrate Jest test suite to Jest 30 + jsdom 26
  test/jest.config.js
  test/mocks/queryStringMock.js
Due: yarn run lint:es --fix, prettier --write

test: fix broken Jest 29 upgrade-doc link in jest.config comment
  test/jest.config.js
Due: yarn run lint:es --fix, prettier --write

Migrate Jest test suite to Jest 30 + jsdom 26 (#507)
  test/jest.config.js
  test/mocks/queryStringMock.js
Due: yarn run lint:es --fix, prettier --write

Add release notes for 3.8.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.8.0.0.md
Due: prettier --write

chore: resolutions and dependencies cleanup, address CVEs
  package.json
  yarn.lock
Due: prettier --write

fix(test): add jest modelNameMapper for uuid cjs
  test/jest.config.js
Due: yarn run lint:es --fix, prettier --write

fix(test): add jest modelNameMapper for uuid cjs (#510)
  test/jest.config.js
Due: yarn run lint:es --fix, prettier --write

Add SPDX license header checker and missing headers
  .github/workflows/license-header-checker.yml
  .licenserc.json
  public/components/monitoring/index.scss
  public/components/preview_panel/nodes_table.scss
Due: prettier --write

Pin @kt3k/license-checker to version 3.2.2
  .github/workflows/license-header-checker.yml
Due: none

Fix code-coverage action
  .github/workflows/unit-tests-workflow.yml
Due: none

Fix code-coverage action (#518)
  .github/workflows/unit-tests-workflow.yml
Due: none

Gate the Access column on the local resource-sharing SPI
  opensearch_dashboards.json
  public/apis/security_dashboards_provider.ts
  public/application.tsx
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/index.tsx
  public/plugin.ts
  public/types.ts
Due: yarn run lint:es --fix, prettier --write

Fix prettier formatting in the SPI-gating test
  public/components/monitoring/__tests__/index.test.tsx
Due: yarn run lint:es --fix, prettier --write

Revert the local-SPI gate on the Access column
  opensearch_dashboards.json
  public/apis/security_dashboards_provider.ts
  public/application.tsx
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/index.tsx
  public/plugin.ts
  public/types.ts
Due: yarn run lint:es --fix, prettier --write

Add the data-source staleness guard on the Access column
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/index.tsx
Due: yarn run lint:es --fix, prettier --write

Gate resource-sharing Access column on per-data-source availability (#517)
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/index.tsx
Due: yarn run lint:es --fix, prettier --write

Increment version to 2.19.7.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Share one definition of the Access column availability guard
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/index.tsx
Due: yarn run lint:es --fix, prettier --write
