Repository opensearch-project/ml-commons-dashboards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es --fix, prettier --write

Replace delete-merged-branch action with GitHub script
  .github/workflows/delete_backport_branch.yml
Due: none

Update delete_backport_branch workflow to use github-script with proper permissions
  .github/workflows/delete_backport_branch.yml
Due: none

Update delete_backport_branch workflow to include release-chores branches (#442)
  .github/workflows/delete_backport_branch.yml
Due: none

Increment version to 3.3.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Increment version to 2.19.4.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Add release notes for 3.3.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.3.0.0.md
Due: prettier --write

Add release notes for 3.3.0 (#449)
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.3.0.0.md
Due: prettier --write

Increment version to 3.4.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Add release notes for 2.19.4
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.19.4.0.md
Due: prettier --write

Increment version to 3.5.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Fix failed unit tests after react 18 upgrade
  public/components/common/__tests__/refresh_interval.test.tsx
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/__tests__/use_monitoring.test.tsx
  public/hooks/tests/use_fetcher.test.ts
Due: yarn run lint:es --fix, prettier --write

Add release notes for 3.5.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.5.0.0.md
Due: prettier --write

Fix failed unit tests after react 18 upgrade (#465)
  public/components/common/__tests__/refresh_interval.test.tsx
  public/components/monitoring/__tests__/index.test.tsx
  public/components/monitoring/__tests__/use_monitoring.test.tsx
  public/hooks/tests/use_fetcher.test.ts
Due: yarn run lint:es --fix, prettier --write

Increment version to 3.6.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Increment version to 2.19.5.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Add release notes for 2.19.5
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.19.5.0.md
Due: prettier --write

Add release notes for 2.19.5 (#473)
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.19.5.0.md
Due: prettier --write

Increment version to 3.6.0.0 (#474)
  opensearch_dashboards.json
  package.json
Due: prettier --write

Add release notes for 3.6.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.6.0.0.md
Due: prettier --write

Add release notes for 3.6.0 (#476)
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.6.0.0.md
Due: prettier --write

fix: Migrate plugin to TypeScript 6.0.2 compatibility
  yarn.lock
Due: none

fix: Migrate plugin to TypeScript 6.0.2 compatibility (#482)
  yarn.lock
Due: none

Increment version to 3.7.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Onboard code diff analyzer/reviewer and issue dedupe workflows (ml-commons-dashboards)
  .github/workflows/issue-dedupe.yml
  .github/workflows/pr_review.yml
Due: none

Add issues write permission to untriaged label workflow
  .github/workflows/add-untriaged.yml
Due: none

Pin actions/github-script to exact commit SHA
  .github/workflows/add-untriaged.yml
Due: none

Create a GitHub workflow for labelling untriaged issues (#486)
  .github/workflows/add-untriaged.yml
Due: none

Pin GitHub Actions to commit SHAs
  .github/workflows/backport.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/lint-workflow.yml
  .github/workflows/unit-tests-workflow.yml
  .github/workflows/verify-binary-installation.yml
Due: none

Add unsupported data source engine type filtering for AnalyticEngine
  opensearch_dashboards.json
  public/utils/__tests__/data_source.test.ts
  public/utils/data_source.ts
Due: yarn run lint:es --fix, prettier --write

Add release notes for 3.7.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.7.0.0.md
Due: prettier --write

Add unsupported data source engine type filtering for AnalyticEngine (#488)
  opensearch_dashboards.json
  public/utils/__tests__/data_source.test.ts
  public/utils/data_source.ts
Due: yarn run lint:es --fix, prettier --write

Update release notes for version 3.7.0.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.7.0.0.md
Due: prettier --write

[AUTO] Add release notes for 3.7.0 (#489)
  release-notes/opensearch-ml-commons-dashboards.release-notes-3.7.0.0.md
Due: prettier --write

Increment version to 2.19.6.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Update MAINTAINERS.md to reflect emeritus status
  MAINTAINERS.md
Due: prettier --write

fix test failure due to hapi import
  server/routes/router.mock.ts
Due: yarn run lint:es --fix, prettier --write

fix test failure due to hapi import (#492)
  server/routes/router.mock.ts
Due: yarn run lint:es --fix, prettier --write

Path conditions:
  yarn run lint:es --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
