Repository opensearch-project/ml-commons-dashboards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es --fix, prettier --write

test: add test case for upload without config and url
  public/components/register_model/__tests__/register_model_api.test.ts
Due: yarn run lint:es --fix, prettier --write

fix: undeploy no onComplete and onError
  public/components/common/modals/model_version_deployment_confirm_modal.tsx
  public/components/model/model_versions_panel/__tests__/model_version_table_row_actions.test.tsx
Due: yarn run lint:es --fix, prettier --write

feat: add model delete confirm modal
  public/components/common/modals/index.ts
  public/components/common/modals/model_delete_confirm_modal.tsx
Due: yarn run lint:es --fix, prettier --write

feat: show modal delete confirm modal after delete button clicked
  public/components/model/__tests__/model.test.tsx
  public/components/model/model.tsx
  public/components/model/model_delete_button.tsx
  public/components/model_list/index.tsx
  public/components/model_list/model_table.tsx
  public/components/model_list/model_table_row_delete_button.tsx
Due: yarn run lint:es --fix, prettier --write

Feature/import model by name (#218)
  public/apis/model_version.ts
  public/components/common/forms/model_description_field.tsx
  public/components/register_model/__tests__/register_model_api.test.ts
  public/components/register_model/__tests__/register_model_form.test.tsx
  public/components/register_model/model_details.tsx
  public/components/register_model/register_model.tsx
  public/components/register_model/register_model.types.ts
  public/components/register_model/register_model_api.ts
  server/routes/model_version_router.ts
  server/services/model_version_service.ts
Due: yarn run lint:es --fix, prettier --write

Feat add basic model delete (#219)
  public/components/common/modals/index.ts
  public/components/common/modals/model_delete_confirm_modal.tsx
  public/components/model/__tests__/model.test.tsx
  public/components/model/model.tsx
  public/components/model/model_delete_button.tsx
  public/components/model_list/index.tsx
  public/components/model_list/model_table.tsx
  public/components/model_list/model_table_row_delete_button.tsx
Due: yarn run lint:es --fix, prettier --write

feat: refresh model version data after deploy or undeploy complete (#216)
  public/components/common/modals/__tests__/model_version_deployment_confirm_modal.test.tsx
  public/components/common/modals/model_version_deployment_confirm_modal.tsx
  public/components/model/model_versions_panel/__tests__/model_version_table_row_actions.test.tsx
  public/components/model/model_versions_panel/model_version_table.tsx
  public/components/model/model_versions_panel/model_version_table_row_actions.tsx
  public/components/model/model_versions_panel/model_versions_panel.tsx
Due: yarn run lint:es --fix, prettier --write

fix: fix error when search for model name when index hasn't created
  public/components/common/forms/model_name_field.tsx
Due: yarn run lint:es --fix, prettier --write

build: add experimental release action
  .github/workflows/experimental-release.yml
Due: none

fix: fix error when search for model name when index hasn't created (#220)
  public/components/common/forms/model_name_field.tsx
Due: yarn run lint:es --fix, prettier --write

build: add experimental release action (#221)
  .github/workflows/experimental-release.yml
Due: none

Increment version to 2.9.0.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

Increment version to 2.8.1.0
  opensearch_dashboards.json
  package.json
Due: prettier --write

feat: exclude remote model for admin UI
  public/apis/model.ts
  public/components/monitoring/use_monitoring.ts
  server/routes/model_router.ts
  server/services/model_service.ts
  server/services/utils/model.ts
Due: yarn run lint:es --fix, prettier --write

feat: exclude remote model for admin UI (#225)
  public/apis/model.ts
  public/components/monitoring/use_monitoring.ts
  server/routes/model_router.ts
  server/services/model_service.ts
  server/services/utils/model.ts
Due: yarn run lint:es --fix, prettier --write

Revert "Revert remove experiment banner and enable by default (#203)"
  public/components/experiment_warning/__tests__/index.test.tsx
  public/components/experiment_warning/index.tsx
  public/components/monitoring/index.tsx
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.8.0.0.md
  server/index.ts
Due: yarn run lint:es --fix, prettier --write

doc: remove release update for 2.8.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.8.0.0.md
Due: prettier --write

Revert "Revert remove experiment banner and enable by default (#203)" (#229)
  public/components/experiment_warning/__tests__/index.test.tsx
  public/components/experiment_warning/index.tsx
  public/components/monitoring/index.tsx
  server/index.ts
Due: yarn run lint:es --fix, prettier --write

doc: add release notes for 2.9.0
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.9.0.0.md
Due: prettier --write

doc: add release notes for 2.9.0 (#232)
  release-notes/opensearch-ml-commons-dashboards.release-notes-2.9.0.0.md
Due: prettier --write

Revert "feat: exclude remote model for admin UI (#225)"
  public/apis/model.ts
  public/components/monitoring/use_monitoring.ts
  server/routes/model_router.ts
  server/services/model_service.ts
  server/services/utils/model.ts
Due: yarn run lint:es --fix, prettier --write

feat: add source field to distinguish local and external model
  public/components/monitoring/model_deployment_table.tsx
  public/components/monitoring/tests/model_deployment_table.test.tsx
  public/components/monitoring/tests/use_monitoring.test.ts
  public/components/monitoring/use_monitoring.ts
  public/components/preview_panel/__tests__/preview_panel.test.tsx
  public/components/preview_panel/index.tsx
Due: yarn run lint:es --fix, prettier --write

feat: add miss display words
  public/components/monitoring/tests/model_deployment_table.test.tsx
Due: yarn run lint:es --fix, prettier --write

Add source field to distinguish local and external model (#239)
  public/apis/model.ts
  public/components/monitoring/model_deployment_table.tsx
  public/components/monitoring/tests/model_deployment_table.test.tsx
  public/components/monitoring/tests/use_monitoring.test.ts
  public/components/monitoring/use_monitoring.ts
  public/components/preview_panel/__tests__/preview_panel.test.tsx
  public/components/preview_panel/index.tsx
  server/routes/model_router.ts
  server/services/model_service.ts
  server/services/utils/model.ts
Due: yarn run lint:es --fix, prettier --write

fix: reset to page 1 after name or state search
  public/components/monitoring/tests/use_monitoring.test.ts
  public/components/monitoring/use_monitoring.ts
Due: yarn run lint:es --fix, prettier --write

refactor: remove unnecessary act call
  public/components/monitoring/tests/use_monitoring.test.ts
Due: yarn run lint:es --fix, prettier --write

Fix no model show up when search a model (#238)
  public/components/monitoring/tests/use_monitoring.test.ts
  public/components/monitoring/use_monitoring.ts
Due: yarn run lint:es --fix, prettier --write

feat: remove customized font size and font weight
  public/components/monitoring/model_deployment_table.tsx
  public/components/preview_panel/index.tsx
Due: yarn run lint:es --fix, prettier --write

remove ace theme
  public/ace-themes/sql_console.js
  public/index.scss
  public/index.ts
Due: yarn run lint:es --fix, prettier --write

feat: update color to $ouiLinkColor
  public/components/monitoring/index.scss
  public/components/preview_panel/nodes_table.scss
Due: none

feat: remove white background for refresh interval
  public/components/monitoring/index.tsx
  public/components/monitoring/tests/index.test.tsx
Due: yarn run lint:es --fix, prettier --write

refactor: update <b> to <strong>
  public/components/monitoring/model_deployment_table.tsx
Due: yarn run lint:es --fix, prettier --write

Feat mitigate to oui style variables (#227)
  public/ace-themes/sql_console.js
  public/components/monitoring/index.scss
  public/components/monitoring/index.tsx
  public/components/monitoring/model_deployment_table.tsx
  public/components/monitoring/tests/index.test.tsx
  public/components/preview_panel/index.tsx
  public/components/preview_panel/nodes_table.scss
  public/index.scss
  public/index.ts
Due: yarn run lint:es --fix, prettier --write

Path conditions:
  yarn run lint:es --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
